/* Header styles */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
    background-image: url(../../assets/images/Header.png);
    background-size: 100% 100%;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-logo {
    display: flex;
    justify-content: center;
    width: 40%;
}

.header-logo-img {
    width: 157px;
    height: 76px;
}

.basic-menu {
    visibility: hidden;
}

.navbar{
    width: 60%;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #f0f0f0;
}

.dropdown-arrow {
    font-size: 12px;
    margin-left: 5px;
}

.main-header.hidden {
    top: -100px; /* Adjust this value based on your header height */
}

.main-header.visible {
    top: 0;
}